<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">FAQ
        <small>Frequently Asked Questions</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="../index.html">Home</a>
        </li>
        <li class="active">FAQ</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="faq#collapseOne">Thésaurus ?</a>
              <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
            </h4>
          </div>
          <div class="panel-collapse collapse in" id="collapseOne">
            <div class="panel-body">
              Nous utilisons la version V1 du Thésaurus, voici un lien qui vous en dira plus sur l'observatorie de l'immatériel: <a href="http://www.observatoire-immateriel.com/index.php/publications-88/1326-rapport-thesaurus-bercy">Thésaurus V1</a>.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="faq#collapseTwo">
                L'outil
              </a>
              <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapseTwo">
            <div class="panel-body">
              L'outil n'amène rien de nouveau comparé à <a href="http://www.observatoire-immateriel.com/outilpedago/frontoffice/">l'outil de l'observatoire immatériel</a> si ce n'est une expérience utilisateur différente. Le modèle de données et les règles de calcul sont strictement identiques.              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /.container -->
